@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blacky-50: #e3b5b5;
  --blacky-100: #dcacba;
  --blacky-200: #d28eae;
  --blacky-300: #c261a1;
  --blacky-400: #9d3f8d;
  --blacky-500: #6f2f6f;
  --blacky-600: #4b1e52;
  --blacky-700: #2d1537;
  --blacky-800: #1a0f24;
  --blacky-900: #110b18;
  --blacky-950: #040308;

  --ice-cold-50: #f3fcf8;
  --ice-cold-100: #cff7ed;
  --ice-cold-200: #9ff9f3;
  --ice-cold-300: #59daee;
  --ice-cold-400: #289dd7;
  --ice-cold-500: #1063bc;
  --ice-cold-600: #0a3299;
  --ice-cold-700: #0c1979;
  --ice-cold-800: #150f61;
  --ice-cold-900: #1f1150;
  --ice-cold-950: #170330;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
